{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "18"
        }
      }
    ]
  ],
  "ignore": [
    "node_modules/**",
    "dist/**",
    "server.js"
  ]
}
